$base-font-size: 16px;
$bigger-font-size: 20px;
$base-font-color: #555;
$background-color: #fafafa;
$dark-gray: #eee;
$lighter-gray: #ddd;
$light-gray: #bbb;
$blue: #337ab7;
$red: #d9534f;
$font-family: 'Open Sans';
$break-point-large: 1200px;
